@import url(reset.css);
@import url(text.css);

html, body {
    height: 100%;
}

a, a:link, a:visited {
    color: #009;
    text-shadow: white 1px 1px 1px;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

nav ul {
    list-style:none;
}

nav ul li {
    display:inline;
    line-height: 65px;
}


a[href], input[type='submit'], input[type='image'], label[for],
select, button, .pointer { cursor: pointer; }

/* Layout */

header h1, nav ul {
    text-align: center;
}

.body {
    margin: 0 auto;
    width: 500px;
}

