<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>{{ page.title }}</title>
        <meta name="author" content="WP"/>

        <link rel="stylesheet" href="/css/site.css" type="text/css"/>
    </head>
    <body>
        <header class="content">
            <section class="title">
                <h1>Paul Woolcock</h1>
                <p>Programming, Music, etc.</p>
            </section>

            <nav class="content">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/c/">C</a></li>
                    <li><a href="/python/">Python</a></li>
                    <li><a href="/clojure/">Clojure</a></li>
                    <li><a href="/javascript/">Javascript</a></li>
                    <!--<li><a href="/">Resume</a></li>-->
                </ul>
            </nav>
            <div class="clear"></div>
        </header>

        <section class="content">
            <section class="sidebar">

<!-- BEGIN DUCK DUCK GO KARMA WIDGET CODE //-->
<script type="text/javascript">
ddg_k_title='My Karma';
ddg_k_bold_karma='1';
ddg_k_link_karma='0';
ddg_k_link_label='0';
ddg_k_show_username='0';
ddg_k_show_service_name='0';
ddg_k_paren_karma='0';
ddg_k_vertical_spacing='5';
ddg_k_column_width='150';
ddg_k_padding='5';
ddg_k_font_size='9pt';
ddg_k_font_color='';
ddg_k_font_family='';
ddg_k_border='1px solid #AAA';
</script>
<div id="ddg_k" style="width:150px;font-size:9pt;border:1px solid #AAA;padding:5px;text-align:left;">-<div style="text-align: right; font-size: 80%; padding-top: 5px;">by <a style="display:inline;list-style-type:none;" href="http://duckduckgo.com/">DuckDuckGo</a></div></div>
<script type="text/javascript" src="http://karma.duckduckgo.com/k.js?t=F,1,2,D,6&u=Walnuts,modulow,P-Walnuts,35288,paul_woolcock"></script>
<!-- END DUCK DUCK GO KARMA WIDGET CODE //-->
            
            </section>
        {{ content }}
        </section>

        <footer class="content">
        &copy;2011 Paul Woolcock
        </footer>
    </body>
</html>

