<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>{{ page.title }}</title>
        <meta name="author" content="WP"/>

        <link rel="stylesheet" href="/css/site.css" type="text/css"/>
    </head>
    <body>
        <header>
            <h1>Paul Woolcock</h1>
            <p>Programming, Music, etc.</p>
        </header>

        <nav class="content">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/c/">C</a></li>
                <li><a href="/python/">Python</a></li>
                <li><a href="/clojure/">Clojure</a></li>
                <li><a href="/javascript/">Javascript</a></li>
                <!--<li><a href="/">Resume</a></li>-->
            </ul>
        </nav>

        <section class="content">
        {{ content }}
        </section>

        <footer>
        &copy;2011 Paul Woolcock
        </footer>
    </body>
</html>

