<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>{{ page.title }}</title>
        <meta name="author" content="WP"/>

        <link rel="stylesheet" href="/css/site.css" type="text/css"/>
    </head>
    <body>


        <header class="body">
            <h1>
                <a href="/">Paul Woolcock</a>
            </h1>
        </header>


        <nav class="body">
            <ul>
                <li><a href="#">Archives</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Subscribe</a></li>
            </ul>
        </nav>


        <section class="body">
        {{ content }}
        </section>


        <footer class="body">
            <img
                    src="/images/200px-Cc.logo.circle.svg.png"
                    alt="Copyleft"
                    width="16px"
                    height="16px"
            /> Paul Woolcock
        </footer>


    </body>
</html>

